.jumbotron {
  background-color: #34ace0;
  color: white;
  margin-top: 55px; }

.card-proyecto {
  flex: 1 180px;
  padding: 10px 20px; }

footer {
  background-color: #227093;
  color: white;
  margin-top: 15px;
  padding: 15px 0; }

footer a {
  color: white; }

footer a:hover {
  color: #ffb142; }

.footer-addres-icon {
  padding-right: 10px; }

.myTabContent {
  padding: 25px 35px 15px 35px; }
