@amarillo: #f5cd79;
@rojo: #e15f41;
@verde: #3dc1d3;
@blanco: #f5f6fa;

.mt(@margen){
  margin-top: @margen;
}

.p2(@padding1,@padding2){
  padding: @padding1 @padding2;
}

.jumbotron {
  background-color: @amarillo;
  color: @blanco;
  .mt(55px);
}

.card-proyecto {
  flex: 1 180px;
  .p2(10px,20px);
}

footer {
  background-color: @rojo;
  color: @blanco;
  .mt(15px);
  .p2(15px,0);
}

footer a {
  color: @blanco;
}

footer a:hover {
  color: @amarillo;
}

.footer-addres-icon {
  padding-right: 10px;
}

.myTabContent {
  padding: 25px 35px 15px;
}

.btn-primary {
  background-color: @verde;
}
