.jumbotron {
  background-color: #f5cd79;
  color: #f5f6fa;
  margin-top: 55px; }

.card-proyecto {
  flex: 1 180px;
  padding: 10px 20px; }

footer {
  background-color: #e15f41;
  color: #f5f6fa;
  margin-top: 15px;
  padding: 15px 0; }

footer a {
  color: #f5f6fa; }

footer a:hover {
  color: #f5cd79; }

.footer-addres-icon {
  padding-right: 10px; }

.myTabContent {
  padding: 25px 35px 15px; }

.btn-primary {
  background-color: #3dc1d3; }
