$amarillo: #eccc68;
$rojo: #ff6348;
$verde: #2ed573;
$blanco: #ffffff;

@mixin mt($margen){
  margin-top: $margen;
}

@mixin p2($padding1,$padding2){
  padding: $padding1 $padding2;
}

.jumbotron {
  background-color: $amarillo;
  color: $blanco;
  @include mt(55px);
}

.card-proyecto {
  flex: 1 180px;
  @include p2(10px,20px);
}

footer {
  background-color: $rojo;
  color: $blanco;
  @include mt(15px);
  @include p2(15px,0);
}

footer a {
  color: $blanco;
}

footer a:hover {
  color: $amarillo;
}

.footer-addres-icon {
  padding-right: 10px;
}

.myTabContent {
  padding: 25px 35px 15px;
}

.btn-primary {
  background-color: $verde;
  border-color: $verde;
}
