.jumbotron {
  background-color: #eccc68;
  color: #ffffff;
  margin-top: 55px; }

.card-proyecto {
  flex: 1 180px;
  padding: 10px 20px; }

footer {
  background-color: #ff6348;
  color: #ffffff;
  margin-top: 15px;
  padding: 15px 0; }

footer a {
  color: #ffffff; }

footer a:hover {
  color: #eccc68; }

.footer-addres-icon {
  padding-right: 10px; }

.myTabContent {
  padding: 25px 35px 15px; }

.btn-primary {
  background-color: #2ed573;
  border-color: #2ed573; }
